# Ignore node_modules
node_modules/
client/node_modules/
server/node_modules/

# Ignore environment variables
.env
server/.env
client/.env

# Ignore build folders
dist/

# Ignore system files
.DS_Store
Thumbs.db
